.card-descripcion-perfume,
.card-notas, 
.card-valoracion,
.card-login {
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-cards);
    box-shadow: var(--shadow-cards);
}

.card-descripcion-perfume {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vh;
}

.card-descripcion-perfume h5 img {
    width: 40px;
    height: auto;
}

.card-notas, 
.card-valoracion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}

.card-valoracion {
    width: 40vw;
}

.card-similares {
    width: 20vw;
    height: 300px;
    margin: 1em;
    display: inline-block;
    position: relative;
    perspective: 1000px; /*Efecto 3D*/
}

.card-similares:hover > .card-front-similares {
  transform: rotateY(180deg);
}

.card-similares:hover > .card-back-similares {
  transform: rotateY(0deg);
}

.card-front-similares,
.card-back-similares {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /*Si se quita esto, sale lo mismo pero en espejo*/
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.6s cubic-bezier(.175, .885, .32, 1.275), opacity 0.6s;
}

.card-front-similares img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-back-similares {
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 20px;
    background-color: var(--color-cards);
    box-shadow: var(--shadow-cards);
    box-sizing: border-box;
    height: 300px;
}

.card-back-elementos img {
    width: 20px;
    margin-top: 8px;
}

.card-back-elementos a img {
    width: 10vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.card-back-elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
}