footer {
    margin-top: 50px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
}

.logo-footer {
    width: 170px;
    height: auto;
    margin-top: 10px;
    margin-left: 80px;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    margin-right: 80px;
}

.social-media img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    filter: invert(100%) brightness(200%);
}

.social-media img:hover {
    filter: none;
}