.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.texto-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-inicio {
    width: 30vw;
    height: auto;
    margin-right: 40px;
}

.img-inicio img {
    width: 700px;
    height: auto;
    border-radius: 10%;
}