.toggle-menu {
    display: none;
}

.menu-button {
    cursor: pointer;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: var(--color-buttons-slider);
    padding-top: 60px;
    transition: left 0.3s;
    z-index: 6;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 20px;
    color: white;
    border-bottom: 1px solid var(--color-buttons-slider);
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 5;
}

/*Posición del menú desplegable si está checked*/
.toggle-menu:checked ~ .sidebar-menu {
    left: 0;
}

.toggle-menu:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}