body {
    background: var(--color-fondo-degradado);
    margin: 0;
    min-height: 100vh;
    padding-top: 80px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-aromaly {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    height: 80px;
    background: rgba(164, 140, 123, 0.75);
    backdrop-filter: blur(8px);
}

.logo-aromaly {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.logo-aromaly img {
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.nav-aromaly button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-buttons-nav);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
}

.nav-aromaly button img {
    width: 20px;
    height: 20px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    background: var(--color-chip);
    font-family: var(--font-body);
    margin: 5px;
}

.card-descripcion-perfume, .card-notas, .card-valoracion, .card-similares {
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-cards);
    box-shadow: var(--shadow-cards);
}

.img-perfume img {
    width: 45vh;
    height: auto;
}

.perfume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.card-descripcion-perfume {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vh;
}

h1, 
h2 {
    margin-left: 10px;
    font-family: var(--font-titles);
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

h1 {
    font-size: 30px;
}

.logo-marca-perfume {
    width: 200px;
    height: auto;
    margin-left: 5px;
    filter: var(--filter-logo-brand);
}

h5,
p {
    font-family: var(--font-body);
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

h5 {
    font-size: 20px;
    margin: 15px;
}

.datos-base-perfume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.datos-base {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.genero {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-descripcion-perfume h5 img {
    width: 40px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.div-piramide-olfativa, .div-valoraciones, .div-similares {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.div-padre-piramide, .div-padre-valoraciones, .div-padre-similares {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
    margin-top: 50px;
}

.div-padre-valoraciones {
    height: auto;
}

.card-notas, .card-similares, .card-valoracion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}

.card-similares {
    width: 13vw;
}

.div-padre-img-notas {
    display: flex;
    flex-direction: row;
}

.img-nota {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
}

.div-padre-nombre-notas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
}

.card-valoracion {
    width: 40vw;
}

.titulo-valoracion {
    display: flex;
    justify-content: center;
}

.valoracion-secciones-titulos {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.iconos-valoracion {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.div-epoca-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.epoca-checkbox {
    display: flex;
    align-items: center;
}

.epoca-checkbox img {
    width: 20px;
    height: auto;
    margin: 10px;
}

.range-slider-duracion, .range-slider-precio {
    height: 100px;
}

.range-slider-duracion ul,
.range-slider-precio ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Línea del slider*/
.range-slider-duracion ul::before,
.range-slider-precio ul::before {
    content: '';
    position: absolute;
    left: 12%;
    right: 12%;
    top: 15px;
    height: 4px;
    background: #ffffff;
}

.range-slider-duracion li,
.range-slider-precio li {
    position: relative;
    flex: 1;
    text-align: center;
}

/*Quitamos el radio*/
.range-slider-duracion input, 
.range-slider-precio input {
    display: none;
}

/*Cursor*/
.range-slider-duracion label, 
.range-slider-precio label {
    cursor: pointer;
}

/*Estilo de los puntos del slider por defecto*/
.range-slider-duracion label::before, 
.range-slider-precio label::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin: 10px auto;
    background: var(--color-buttons-slider);
    border-radius: 50%;
}

/*Punto activo*/
.range-slider-duracion input:checked + label::before, .range-slider-precio input:checked + label::before {
    background: #f75;
}

/*Texto del slider*/
.range-slider-duracion span, .range-slider-precio span {
    font-size: 14px;
}

/*Texto del slider seleccionado*/
.range-slider-duracion input:checked + label span, .range-slider-precio input:checked + label span {
    display: block;
    color: #f75;
}