body {
    background: linear-gradient(0deg,rgba(239, 236, 230, 1) 0%,  rgba(157, 131, 111, 1)100%);
    margin: 0;
    min-height: 100vh;
    padding-top: 80px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-aromaly ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style: none;

    padding: 0 20px;
    margin: 0;
    height: 80px;
}

.logo-aromaly {
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: center;
}

.logo-aromaly a img {
    display: block;
    margin-top: 5px;
    width: 200px;
    height: auto;
}

.nav-aromaly button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FBF7F4;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
}

.nav-aromaly button img {
    width: 20px;
    height: 20px;
}

.perfume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 40px;
}

.descripcion-perfume {
    width: 100vh;
    height: auto;
    border-radius: 20px;

    background-color: #DDD5CC;
}

.img-perfume img {
    width: 60vh;
    height: auto;
}