body {
    background: var(--color-fondo-degradado);
    margin: 0;
    min-height: 100vh;
    padding-top: 80px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-aromaly {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 20px;
    margin: 0;
    height: 80px;

    background: rgba(164, 140, 123, 0.75);
    backdrop-filter: blur(8px);
}

.logo-aromaly {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: center;
}

.logo-aromaly img {
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.nav-aromaly button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-buttons);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
}

.nav-aromaly button img {
    width: 20px;
    height: 20px;
}

.img-perfume img {
    width: 45vh;
    height: auto;
}

.perfume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 40px;
}

.descripcion-perfume {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 70vh;
    height: auto;
    padding: 30px;
    border-radius: 20px;

    background-color: var(--color-cards);
}

h1 {
    margin-left: 10px;
    font-family: var(--font-titles);
    font-size: 25px;
    
}

.logo-marca-perfume {
    
    width: 200px;
    height: auto;
    margin-left: 5px;
    filter: var(--filter-logo-brand);
}

p {
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

h5,p {
    margin-left: 10px;
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.familia-olfativa {
    display: flex;
    align-items: center;
    gap: 5px;
}

.genero {
    display: flex;
    align-items: center;
    gap: 5px;
}

.descripcion-perfume h5 img {
    width: 40px;
    height: auto;
}

.chip-familia-olfativa {
    display: inline-block;
    padding: 0 25px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 25px;
    background: var(--color-chip);
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.piramide-olfativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.div-padre-piramide {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 30vh;
}

.notas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45vh;
    height: auto;

    padding-left: 20px;

    border-radius: 25px;
    background: #DDD5CC;
}

.div-padre-img-notas {
    display: flex;
    flex-direction: row;
}

.img-nota {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
}