body {
    background: linear-gradient(0deg,rgba(239, 236, 230, 1) 0%,  rgba(157, 131, 111, 1)100%);
    margin: 0;
    min-height: 100vh;
    padding-top: 80px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-aromaly {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 20px;
    margin: 0;
    height: 80px;

    background: rgba(164, 140, 123, 0.75);
    backdrop-filter: blur(8px);
}

.logo-aromaly {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: center;
}

.logo-aromaly img {
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.nav-aromaly button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FBF7F4;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
}

.nav-aromaly button img {
    width: 20px;
    height: 20px;
}

.img-perfume img {
    width: 45vh;
    height: auto;
}

.perfume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 40px;
}

.descripcion-perfume {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 70vh;
    height: auto;
    padding: 30px;
    border-radius: 20px;

    background-color: #DDD5CC;
}

.descripcion-perfume h1 {
    margin-left: 10px;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.logo-marca-perfume {
    width: 200px;
    height: auto;
    margin-left: 5px;
    filter: drop-shadow(-1px -1px 0 black);
}

.descripcion-perfume p {
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

.descripcion-perfume h5 {
    margin-left: 10px;
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.descripcion-perfume h5.familia-olfativa {
    display: flex;
    align-items: center;
    gap: 5px;
}

.descripcion-perfume h5.genero {
    display: flex;
    align-items: center;
    gap: 5px;
}

.descripcion-perfume h5 img {
    width: 40px;
    height: auto;
}

.descripcion-perfume h5 a {
    text-decoration: none;
}

.chip-familia-olfativa {
    display: inline-block;
    padding: 0 25px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 25px;
    background: rgba(191, 167, 150, 0.75);
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
