body {
    background: var(--color-fondo-degradado);
    margin: 0;
    min-height: 100vh;
    padding-top: 80px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-aromaly {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    height: 80px;
    background: rgba(164, 140, 123, 0.75);
    backdrop-filter: blur(8px);
}

.logo-aromaly {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.logo-aromaly img {
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.nav-aromaly button,
.nav-aromaly label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-buttons-nav);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
}

.nav-aromaly button img,
.nav-aromaly label img {
    width: 20px;
    height: 20px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    background: var(--color-chip);
    font-family: var(--font-body);
    margin: 5px;
}

.card-descripcion-perfume,
.card-notas, 
.card-valoracion,
.card-login {
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-cards);
    box-shadow: var(--shadow-cards);
}

.img-perfume img {
    width: 45vh;
    height: auto;
}

.perfume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.card-descripcion-perfume {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70vh;
}

h1, 
h2 {
    margin-left: 10px;
    font-family: var(--font-titles);
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

h1 {
    font-size: 30px;
}

.logo-marca-perfume {
    width: 200px;
    height: auto;
    margin-left: 5px;
    filter: var(--filter-logo-brand);
}

h5,
p {
    font-family: var(--font-body);
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

h5 {
    font-size: 20px;
    margin: 15px;
}

.datos-base-perfume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.datos-base {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.genero {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-descripcion-perfume h5 img {
    width: 40px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.div-piramide-olfativa, 
.div-valoraciones, 
.div-similares {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.div-padre-piramide, 
.div-padre-valoraciones, 
.div-padre-similares {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
    margin-top: 50px;
}

.div-padre-valoraciones {
    height: auto;
}

.card-notas, 
.card-valoracion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}

.div-padre-img-notas {
    display: flex;
    flex-direction: row;
}

.img-nota {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
}

.div-padre-nombre-notas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
}

.card-valoracion {
    width: 40vw;
}

.titulo-valoracion {
    display: flex;
    justify-content: center;
}

.valoracion-secciones-titulos {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.iconos-valoracion {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.div-epoca-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.epoca-checkbox {
    display: flex;
    align-items: center;
}

.epoca-checkbox input {
    display: none;
}

.epoca-checkbox img {
    width: 20px;
    height: auto;
    margin: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
    cursor: pointer;
}

.epoca-checkbox img:hover {
    transform: scale(1.5);
}

.epoca-checkbox input:checked + img {
    filter: grayscale(0%) brightness(1.2) saturate(2);
    transform: scale(1.5);
}

.range-slider-duracion, .range-slider-precio {
    height: 60px;
}

.range-slider-duracion ul,
.range-slider-precio ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Línea del slider*/
.range-slider-duracion ul::before,
.range-slider-precio ul::before {
    content: '';
    position: absolute;
    left: 12%;
    right: 12%;
    top: 15px;
    height: 4px;
    background: var(--color-disable-slider);
}

.range-slider-duracion li,
.range-slider-precio li {
    position: relative;
    flex: 1;
    text-align: center;
}

/*Quitamos el radio*/
.range-slider-duracion input, 
.range-slider-precio input {
    display: none;
}

/*Cursor*/
.range-slider-duracion label, 
.range-slider-precio label {
    cursor: pointer;
}

/*Estilo de los puntos del slider por defecto*/
.range-slider-duracion label::before, 
.range-slider-precio label::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin: 10px auto;
    background: var(--color-buttons-slider);
    border-radius: 50%;
    transition: transform 0.2s, background 0.2s;
}

.range-slider-duracion label:hover::before,
.range-slider-precio label:hover::before {
    transform: scale(1.5);
}

/*Punto activo*/
.range-slider-duracion input:checked + label::before, 
.range-slider-precio input:checked + label::before {
    background: var(--color-active-slider);
    transform: scale(1.2);
}

/*Texto del slider*/
.range-slider-duracion span, 
.range-slider-precio span {
    font-size: 14px;
}

/*Texto del slider seleccionado*/
.range-slider-duracion input:checked + label span, 
.range-slider-precio input:checked + label span {
    display: block;
    color: var(--color-active-slider);
}

.div-rating {
    display: flex;
}

.rating, .rating-resultado {
    font-size: 2rem;
    margin-left: 20px;
    margin-bottom: 15px;
}

.rating {
    direction: rtl; /*Si no se pone esto, queda del revés*/
}

.rating input {
    display: none; /*Quitamos la bola del input*/
}

.rating label {
    color: var(--color-disable-star);/*Estrellas en gris*/
    cursor: pointer;
    text-shadow: var(--shadow-star);
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: var(--color-active-star);
}

.resultado-epoca {
    display: flex;
}

.resultado-epoca img {
    margin-left: 20px;
}

.resultado-chip {
    margin-left: 15px;
}

.rating-resultado {
    text-shadow: var(--shadow-star);
}

.star {
    color: var(--color-disable-star);
}

.star-activa {
    color: var(--color-active-star);
}

.card-similares {
    width: 20vw;
    height: 300px;
    margin: 1em;
    display: inline-block;
    position: relative;
    perspective: 1000px; /*Efecto 3D*/
}

.front-similares,
.div-back-similares {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /*Si se quita esto, sale lo mismo pero en espejo*/
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.6s cubic-bezier(.175, .885, .32, 1.275), opacity 0.6s;
}

.front-similares img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.nombre-perfume-similar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-sizing: border-box;
}

.nombre-perfume-similar p {
    margin-left: 20px;
}

.div-back-similares {
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 20px;
    background-color: var(--color-cards);
    box-shadow: var(--shadow-cards);
    box-sizing: border-box;
    height: 300px;
}

.card-similares:hover > .front-similares {
  transform: rotateY(180deg);
}

.card-similares:hover > .div-back-similares {
  transform: rotateY(0deg);
}

.back-similares img {
    width: 20px;
    margin-top: 8px;
}

.back-similares a img {
    width: 10vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.back-similares {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    padding: 5px 10px;
    background: var(--color-buttons-slider);
    color: white;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.boton:hover {
    background: var(--color-cards);
    color: var(--color-buttons-slider);
    border: 1px solid var(--color-buttons-slider);
}

footer {
    margin-top: 200px;
    margin-bottom: 20px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
}

.logo-footer {
    width: 170px;
    height: auto;
    margin-top: 10px;
    margin-left: 80px;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    margin-right: 80px;
}

.social-media img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    filter: invert(100%) brightness(200%);
}

.social-media img:hover {
    filter: none;
}