.div-similares {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
 
.div-padre-similares {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
    margin-top: 50px;
}

.nombre-perfume-similar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-sizing: border-box;
}

.nombre-perfume-similar p {
    margin-left: 20px;
}