.div-piramide-olfativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.div-padre-piramide {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
    margin-top: 5vh;
}

.div-piramide-img-notas {
    display: flex;
    flex-direction: row;
    width: calc(1vh*168/416*100);
}

.div-piramide-nombre-notas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: calc(1vw * 28/416);
}

.img-piramide-nota {
    
    width: 2.5vw;
    height: 2.5vw;
    
    border-radius: 50%;
    background-color: white;
}

.card-notas {
    height: calc(20vw * 244/416);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-cards);
    box-shadow: var(--shadow-cards);
}