:root {
    /* --color-fondo-degradado: linear-gradient(0deg,rgba(239, 236, 230, 1) 0%,  rgba(157, 131, 111, 1)100%); */
    --color-fondo-degradado: linear-gradient(
        to bottom,
        rgba(157, 131, 111, 1) 0%,
        rgba(239, 236, 230, 1) 50%,
        rgba(157, 131, 111, 1) 100%
    );
    --font-titles: 'Montserrat', sans-serif;
    --font-body: 'Inter', sans-serif;
    --filter-logo-brand: drop-shadow(-1px -1px 0 black);
    --shadow-cards: 0 4px 15px rgba(0, 0, 0, 0.25);
    --color-buttons-nav: #FBF7F4;
    --color-cards: #DDD5CC;
    --color-chip: rgba(191, 167, 150, 0.75);
    --color-buttons-slider: #3A2E2A;
    --color-active-slider: #f75;
    --color-disable-slider: #ffffff;
    --color-active-star: gold;
    --color-disable-star: lightgrey;
    --shadow-star: 1px 1px 3px black;
}

body {
    background: var(--color-fondo-degradado);
    margin: 0;
    min-height: 100vh;
    padding-top: 80px;
}

h1, 
h2 {
    margin-left: 10px;
    font-family: var(--font-titles);
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

h1 {
    font-size: 30px;
}

h5,
p {
    font-family: var(--font-body);
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

h5 {
    font-size: 20px;
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    background: var(--color-chip);
    font-family: var(--font-body);
    margin: 5px;
}

.boton {
    padding: 5px 10px;
    background: var(--color-buttons-slider);
    color: white;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.boton:hover {
    background: var(--color-cards);
    color: var(--color-buttons-slider);
    border: 1px solid var(--color-buttons-slider);
}